<html>
    <!---
        
        さらに汎用化して、共通メソッドはmixinでまとめる

    -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--
        <link href="images/favicon.ico" rel="shortcut icon">
        -->
        <title>Test View</title>
        <!-- Load required Bootstrap and BootstrapVue CSS -->

        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.css" />

        <!-- Load fontawesome -->
        <!-- link href="./css/all.css" rel="stylesheet" -->
        <!--load all styles -->
        <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
        <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

        <!-- Load polyfills to support older browsers -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>

        <!-- Load Vue followed by BootstrapVue -->
        <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.js"></script>

        <!-- Load the following for BootstrapVueIcons support -->
        <script src="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue-icons.min.js"></script>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    </head>
    <body>
        Viewレイヤのテスト<br>

        <div id="appCirculars" class="mt-2">
            <span class="mr-5 h2">Circulars</span>
            <b-button @click='getItems'>読み込み</b-button> 
            <b-button class="ml-2" @click='addRow'>+</b-button> 
            <div class="mt-2"></div>
            <b-table hover caption-top striped small
                primary-key = "id"
                id="clist" sort-by="id" small head-variant="light"
                :items="items" :fields="[
                        {  key: 'id', label: 'ID',  sortable: true },
                        {  key: 'title', label: '回覧件名' },
                        {  key: 'dueDate', label: '実施日'},
                        {  key: 'control', label: '操作'},
                      ]">
                <template v-slot:cell(title)="data">
                    <b-form-input v-model="data.item.title" type="text" size="sm"></b-form-input>
                </template>
                <template v-slot:cell(control)="data">
                    <b-button v-if="data.item.isInsert" @click="insertItem(data.item)">保存</b-button>
                    <b-button v-else @click="updateItem(data.item)">更新</b-button>
                    <b-button v-if="data.item.isInsert" @click="getItems">キャンセル</b-button>
                    <b-button v-else @click="deleteItem(data.item)">削除</b-button>
                    <b-form-checkbox v-model="data.detailsShowing" @change="data.toggleDetails">詳細</b-form-checkbox>
                </template>
                <template #row-details="data">
                    <b-card>
                        <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-right"><b>詳細:</b></b-col>
                            <b-col><b-form-textarea v-model="data.item.detail" size="sm" rows="3" max-rows="8"></b-form-textarea></b-col>
                        </b-row>
                        <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-right"><b>実施日:</b></b-col>
                            <b-col><b-form-input v-model="data.item.dueDate" type="date" size="sm"></b-form-input></b-col>
                        </b-row>
                        <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-right"><b>作成日:</b></b-col>
                            <b-col>{{ data.item.createdAt }}</b-col>
                        </b-row>
                
                        <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-right"><b>更新日:</b></b-col>
                            <b-col>{{ data.item.updatedAt }}</b-col>
                        </b-row>
                
                        <b-button size="sm" @click="data.toggleDetails">詳細を隠す</b-button>
                    </b-card>
                  </template>
            </b-table>             
        </div>

        <div id="appCircularItems" class="mt-2">
            <span class="mr-5 h2">CircularItems</span>
            <b-button @click='getItems'>読み込み</b-button> 
            <b-button class="ml-2" @click='addRow'>+</b-button> 
            <div class="mt-2"></div>
            <b-table hover caption-top striped small
                primary-key = "id"
                id="clist" sort-by="id" small head-variant="light"
                :items="items" :fields="[
                        {  key: 'id', label: 'ID',  sortable: true },
                        {  key: 'memberId', label: 'm-id' },
                        {  key: 'person', label: '名前'},
                        {  key: 'departmentId', label: '部署'},
                        {  key: 'confirm', label: '確認'},
                        {  key: 'control', label: '操作'},
                      ]">
                <template v-slot:cell(memberId)="data">
                    <b-form-input v-model="data.item.memberId" type="number" size="sm"></b-form-input>
                </template>
                <template v-slot:cell(person)="data">
                    <b-form-input v-model="data.item.person" type="text" size="sm"></b-form-input>
                </template>
                <template v-slot:cell(departmentId)="data">
                    <b-form-input v-model="data.item.departmentId" type="number" size="sm"></b-form-input>
                </template>
                <template v-slot:cell(confirm)="data">
                    <b-form-input v-model="data.item.confirm" type="text" size="sm"></b-form-input>
                </template>
                <template v-slot:cell(control)="data">
                    <b-button v-if="data.item.isInsert" @click="insertItem(data.item)">保存</b-button>
                    <b-button v-else @click="updateItem(data.item)">更新</b-button>
                    <b-button v-if="data.item.isInsert" @click="getItems">キャンセル</b-button>
                    <b-button v-else @click="deleteItem(data.item)">削除</b-button>
                    <b-form-checkbox v-model="data.detailsShowing" @change="data.toggleDetails">詳細</b-form-checkbox>
                </template>
                <template #row-details="data">
                    <b-card>
                        <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-right"><b>メモ:</b></b-col>
                            <b-col><b-form-textarea v-model="data.item.memo" size="sm" rows="3" max-rows="8"></b-form-textarea></b-col>
                        </b-row>
                        <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-right"><b>作成日:</b></b-col>
                            <b-col>{{ data.item.createdAt }}</b-col>
                        </b-row>
                
                        <b-row class="mb-2">
                            <b-col sm="3" class="text-sm-right"><b>更新日:</b></b-col>
                            <b-col>{{ data.item.updatedAt }}</b-col>
                        </b-row>
                
                        <b-button size="sm" @click="data.toggleDetails">詳細を隠す</b-button>
                    </b-card>
                  </template>
            </b-table>             
        </div>


        <script>
            // 共通化したメソッド
            var mixin={
                methods:{
                    getItems: async function(){
                        self = this;
                        url = self.baseUrlItems;
                        await axios.get(url)
                        .then(function (response) {
                            console.log(response);
                            self.items = response.data;
                        });
                    },
                    insertItem: async function(item){
                        url = self.baseUrlItem;
                        await axios.post(url, item)
                        .then(function (response) {
                            console.log(response);
                            self.getItems();
                        });
                    },

                    updateItem: async function(item){
                        url = self.baseUrlItem + "/" + item.id;
                        await axios.put(url, item)
                        .then(function (response) {
                            console.log(response);
                            self.getItems();
                        });
                    },
                    deleteItem: async function(item){
                        url = self.baseUrlItem + "/" + item.id;
                        await axios.delete(url)
                        .then(function (response) {
                            console.log(response);
                            self.getItems();
                        });
                    },
                    addRow: function(){
                        this.items.push({
                            //id : '',
                            //title: '',
                            //duDate: '',
                            isInsert: true
                        })                          
                    }
                }
            }

            var appCirculars = new Vue({
                el: '#appCirculars',
                mixins: [mixin],
                data: {
                    items: [],
                    baseUrlItems : "r/circulars", //呼び出すAPIを指定
                    baseUrlItem : "r/circular",     //呼び出すAPIを指定
                }
            })

            var appCircularItems = new Vue({
                el: '#appCircularItems',
                mixins: [mixin],
                data: {
                    items: [],
                    baseUrlItems : "r/circular-items", //呼び出すAPIを指定
                    baseUrlItem : "r/circular-item",     //呼び出すAPIを指定
                }
            })




        </script>
   
    </body>
  </html>